# dependencies
/node_modules
/.pnp
.pnp.js

# Next.js
/.next/
/out/
/build/

# TypeScript build artifacts
*.tsbuildinfo

# Sanity Studio build output
/dist/

# testing
/coverage

# misc
.DS_Store
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*